%body.dark
    %nav
        .title Enchirideon
        #light-switch.s.s-sun
        .specimen 1.0.3
        .name Icon Tabs
    %section
        .container.align-center
            .col-3
                .icon-tab
                    .s.s-layout
                    .label Modules
            .col-3
                .icon-tab
                    .s.s-code
                    .label Code Editor
            .col-3
                .icon-tab
                    .s.s-image
                    .label Assets
            .col-3
                .icon-tab
                    .s.s-cog
                    .label Settings
